[2016-06-28 18:19] simondlr opened #1 "Elaborate on tx.origin"

[2016-07-05 16:13] nemild opened #10 "Improve Structure and Flow"
Here are a few suggestions to improve the structure and clarity of the document:

1. In *Recommendations for Smart Contract Security in Solidity*, *Known Attacks*, and *Software Engineering*, contributors should always include a source link and a code example. For *Known Attacks*, there should always be an example of how to mitigate in code.

2. In *Recommendations for Smart Contract Security in S

[2016-07-05 16:14] nemild opened #11 "Define "attack""
*Attacks* should have a definition, it's debatable to me whether a *Leech attack* is an attack in the traditional sense. It's unfortunate for the oracle and it's payer, but I don't know if it causes malicious and unexpected damage to a contract (a dev sec person can probably indicate what exactly an attack is defined as).

I've also noticed that certain items are called "bugs" (e.g., Timestamp dep

[2016-07-06 07:44] simondlr opened #24 "Add solgraph to security tools?"
https://github.com/raineorshine/solgraph

[2016-07-09 14:14] redsquirrel opened #39 "Dangling "on externally""
See https://github.com/ConsenSys/smart-contract-best-practices/blob/master/README.md#favor-pull-payments-over-push-payments

This sentence seems incomplete.

[2016-07-10 11:01] ethers opened #43 "TODO Transaction-Ordering Dependence"
Reminder for @simondlr “I’m going to submit the details later”

[2016-07-10 18:39] #10 closed

[2016-07-10 18:39] #11 closed

[2016-07-10 18:41] nemild commented on #39
Fixed in latest version

[2016-07-10 18:41] #39 closed

[2016-07-10 18:43] nemild commented on #24
Added

[2016-07-10 18:43] #24 closed

[2016-07-15 13:18] drandreaskrueger opened #45 "good before bad?"
Excellent article, thank you very much.

I read somewhere that it is didactically better to first mention the good example, and only then show the bad example - because then the probability is lower that human memory falsely stores the bad example as the way to do it.

just an idea.

[2016-07-15 13:35] nemild commented on #45
Hi @drandreaskrueger, thanks. Currently, it's written this way because many Solidity programmers are writing problematic code, which they need to change. As such, I chose to go from what they might know (the bad) to the good.

Over time, it's debatable what the ideal order is once the bad is no longer a habit - and it's likely that we'll refactor the *Recommendations* section to highlight the righ

[2016-07-15 14:05] drandreaskrueger commented on #45
I understand.

I hat shortly tried to find such literature, but gave up. That's why the "I read somewhere..." :-)

Very good. Go ahead. Myself, I have not read that other one, and currently have no need.

I don't.
It was just a thought when after reading I was wondering how to contribute.

This is a good time to learn Solidity, now that best practices are found and described.

Keep up the good wor

[2016-08-11 17:25] MeherRoy opened #50 "Possible typo?"
In the code for refunding multiple addresses by iterating over a loop, shouldn't Line 5 in the code be Payee[] payees; instead of Payee payees[]?

struct Payee {
    address addr;
    uint256 value;
}
Payee payees[];
uint256 nextPayeeIndex;

[2016-08-12 08:09] simondlr commented on #50
Yes. That's a typo! Will fix soon. Thanks @MeherRoy!

[2016-08-21 08:27] ethers opened #51 "Explicit parentheses for compound expressions"
Should we add this?

Rule 18
In compound expressions with multiple sub-expressions the intended
order of evaluation shall be made explicit with parentheses. [cf. MISRAC:2004
Rule 12.2]

http://lars-lab.jpl.nasa.gov/JPL_Coding_Standard_C.pdf

(we could add the obvious caveat that "However, do not add too many parentheses so as to clutter the code and make it unreadable." per MISRAC:2004 Rule 12.1)

[2016-08-23 01:29] ethers opened #52 "Add Solidity style guide to recommendations"

[2016-08-26 02:17] tjayrush opened #55 "Add good practices for logging events"
I've been reading a lot of information about Solidity security, and I think there's something missing in nearly everything I've read. Of course, everything mentioned here is great, but there is no little or no mention of best practices as they relate to 'logging' of a smart contract.

A well-designed logging design would help with (1) the on-going monitoring of a live contract, and (2) the post-mo

[2016-08-26 04:53] emansipater opened #56 "Should probably note the stuffing attack for current versions of solidity"
Isn't a huge issue (basically [calls to nonexistent code including nonexistent fallback functions currently return some data](https://github.com/ethereum/solidity/issues/825), which is cast to "true" when checking call success), but given the strong emphasis on handling send failures it's probably worth mentioning even though this is planned to be [fixed](https://github.com/ethereum/solidity/issue

[2016-08-27 00:19] ethers opened #57 "Add tip for avoiding var"
also mentioned in solidity docs

[2016-08-29 08:35] ethers opened #58 "Add tip to prefer avoid using the optimizing compiler"
(optimizing compiler could have more chance of bugs)

[2016-08-30 17:48] CJentzsch opened #59 "Add tip to be cautious about using `send(value)` when `value` can be 0."
When `send` is used, it will only give a gas stipend for non-zero value transfer (Yellow Paper Appendix H description of "CALL" (last line) ). If the recipient is a normal account (without code), it will work and return 1. If it is a smart contract with code to be executed, such as the multisig, it will fail with an out-of-gas exception and return 0. (since it needs gas to execute this line: https

[2016-08-30 18:21] simondlr commented on #59
Thanks @CJentzsch.

So, to confirm: sending with 0 does NOT provide any gas stipend at all? So it will just throw if the fallback has ANY code in it? Would it still throw if there's no fallback function?

[2016-08-30 18:41] CJentzsch commented on #59
Right, it does not send any gas. So no code which costs any gas can be executed.
So the only code which can be executed is the one with free opcodes (see yellow paper section H.1) which are: `{STOP, SUICIDE, RETURN}` (but there isn't even gas to PUSH the address or the bytes used as input parameter in SUICIDE or RETURN, so the input parameter would be `0x00...00`)
I do not know the exact implement

[2016-08-30 19:10] simondlr commented on #59
Either way, it seems as with the whitehat DAO contract it could be an issue if the contract does not expect that it could send 0 (expecting it succeed).

+1

[2016-08-31 19:04] chriseth commented on #59
send never provides gas, that's how it is designed. I created an issue to discuss whether the compiler should handle the special case of `send(0)`: https://github.com/ethereum/solidity/issues/977

I would make a general recommendation that you should be prepared that send can always fail for whatever reason even if you know the target contract.

[2016-09-08 15:52] simondlr opened #60 "Update document with Solidity 0.4.0 changelog"
Lots of breaking changes with built in safety features:

https://github.com/ethereum/solidity/releases/tag/v0.4.0

[2016-09-19 16:38] SergioDemianLerner opened #61 "Don't assume contracts are created with zero balance"
Contract developers may assume a newly created contract has zero balance. For example,developers may write assets on different parts of the code that check that the contract balance equals an internal field such as expectedBalance, which is updated on every incoming/outgoing payment.

In Ethereum contract addresses can be guessed: they are built using the source address and source nonce hashed. Th

[2016-10-10 09:25] simondlr commented on #61
Excellent edge case @SergioDemianLerner.

Thanks for the find. We will add this.

[2016-10-18 16:33] ethers opened #64 "No more call depth attack with EIP150"
Need to explain this clearly

[2016-10-25 02:06] brezal opened #66 "404 for functional programming link"
The functional programming link in the readme https://plus.google.com/u/0/events/cmqejp6d43n5cqkdl3iu0582f4k is a 404 over here, and I imagine if you open the link in an incognito window (or while you're not logged into google), you too will also get a 404

[2016-10-25 02:18] brezal commented on #1
hello @simondlr. what do you mean by this? i'm not seeing it mentioned in the readme. (liking your youtube vids (pretty sure there are a few hundred others as well :))

[2016-10-25 02:20] brezal commented on #52
@ethers Are you saying http://solidity.readthedocs.io/en/develop/style-guide.html should be linked?

[2016-10-25 02:24] brezal commented on #55
A section on logging would be very much useful! As someone new to the solidity community, I'm thinking that logging is useful if you want to want to have a transparent trail for audits. Maybe this is worth including as well?

[2016-10-25 02:28] #64 closed

[2016-10-25 08:10] simondlr commented on #1
Hey @brezal.

Using tx.origin can be more easily abused for privilege escalation: http://ethereum.stackexchange.com/questions/1891/whats-the-difference-between-msg-sender-and-tx-origin.

[2016-10-25 14:01] simondlr opened #67 "Sol 0.4.x: new payable modifier only affects external calls"
"Something that might not be obvious: The payable modifier only applies to calls from external contracts. If I call a non payable function in the payable function in the same contract, the non-payable function won't fail, though msg.value is still set."

from @Georgi87. Thanks for this.

[2016-10-27 18:54] ethers commented on #59
`send(0)` now gets the stipend https://github.com/ethereum/solidity/pull/1008 so does not have its own specific reason that it could fail.  Seems this can be closed?

[2016-10-27 19:07] #59 closed

[2016-11-15 07:13] ethers commented on #66
Can you try this again?  I have not been able to reproduce when you reported it as well as now.

[2016-11-15 07:13] #66 closed

[2016-11-15 07:20] #61 closed

[2016-12-07 05:54] readytopark opened #69 "May need 'payable'?"
In "Keep fallback functions simple" section,

`function deposit() external { balances[msg.sender] += msg.value; }`

Does't this function need "payable" modifier to work properly?

[2016-12-07 07:05] simondlr commented on #69
That is correct. Thanks @readytopark.

[2016-12-07 21:00] #69 closed

[2016-12-07 21:02] ethers commented on #69
Thanks you @readytopark!  Feel free to submit a pull request if you see payable missing in other areas, or if you have other improvements :)

[2016-12-16 08:04] maiffany opened #70 "how to resolve race condition"

[2016-12-16 08:06] #70 closed

[2016-12-16 08:22] maiffany opened #71 "I think the "Pitfalls in Race Condition Solutions" can not work the way you expect"
You've mentioned in your wiki that to solve race condition attack, one can use a lock variable. I quote your code here. And I don't think a lock variable can solve parallel invoking. As you are setting lockBalances to true, I can still go into the withdraw function and thus withdraw the balance again.

[code]

[2016-12-16 09:03] simondlr commented on #71
Hey!

How? lockBalances is set to True *before* the external call is done. Doing a re-entry here, will cause a throw.

[2016-12-16 09:10] maiffany commented on #71
Before you set lockBalances  to True, one can entry the func and withdraw the balance. This way can not solve parallel invoking.

[2016-12-16 09:15] simondlr commented on #71
I don't understand. How is this possible? In withdraw(), there's no possible way to re-enter *before* lockBalances is set. If you are thinking about 2 *different* transactions being used, then that is not possible at all. Execution is not parallel in Ethereum. It is in serial. So, the lock will re-open itself after each transaction.

[2016-12-16 11:08] maiffany commented on #71
Yes, I am thinking about 2 different txs being used. If there is no parallel in Ethereum, how could re-enter happen? Because all the txs happen in line, and the invoke of the contract is triggered by transaction, so at one time the function can only be execute once. Seemed like there is no way to withdraw the balance twice.

[2016-12-16 11:27] simondlr commented on #71
When you call a new function, the function is not completed yet. It first completes the sub-call before continuing. The sub-call can re-call the function you are in. That's how you re-enter.

The section on reentrancy explains it quite well. https://github.com/ConsenSys/smart-contract-best-practices#reentrancy.

[2016-12-16 11:35] maiffany commented on #71
Got it! I misunderstood the meaning of reentrancy. I thought it means invoked by another transaction again.
Thank you so much for your time and guide!

[2016-12-16 12:30] simondlr commented on #71
No worries! Might be useful to add a graphic/drawing in there to describe it. :)

[2016-12-16 12:30] #71 closed

[2017-03-16 07:29] simondlr opened #75 "Add in new safety features from 0.4.10"
https://www.reddit.com/r/ethereum/comments/5zkuwj/solidity_0410_released/

Included things like transfer() which is equivalent to if(!send()) { throw; }

[2017-03-22 23:08] bokkypoobah opened #76 "Please add a warning about using Constant State Variables"
Details documented in [TIB (Today I Burnt) 0.01 ETH Using Constant State Variables In A Solidity Contract](https://www.reddit.com/r/ethdev/comments/60xklu/tib_today_i_burnt_001_eth_using_constant_state/).

Using a constant state variables produces unexpected results, for example:

    uint256 public constant PRESALE_START_DATE = now;
    uint256 public constant PRESALE_END_DATE = PRESALE_START_DAT

[2017-03-23 07:51] simondlr commented on #76
Wow. Nice catch! That's unexpected behaviour.

[2017-03-23 08:07] bokkypoobah commented on #76
Thanks.

[2017-03-23 08:11] simondlr commented on #76
@bokkypoobah does this fix this issue? https://github.com/ethereum/solidity/pull/1729

[2017-03-23 08:14] bokkypoobah commented on #76
Sound like it will.

[2017-03-23 09:31] chriseth commented on #76
The fix is part of 0.4.10.

[2017-03-23 09:32] bokkypoobah commented on #76
nice

[2017-03-23 09:56] simondlr commented on #76
Thanks @chriseth. Closing this then. Thanks again @bokkypoobah!

[2017-03-23 09:56] #76 closed

[2017-05-07 01:19] lherbeur commented on #61
@SergioDemianLerner ...Does it mean if the authentic user tries creating the contract, the already existing one is used or how does the pre-creation affect the new creation? If indeed the attacker's pre-created contract is used and has control over the "contract created" by the real user,  does that mean only the attacker would then have access over the contract and it's funds, which would have be

[2017-05-09 04:17] ethers commented on #61
@lherbeur an account (no code) is what's pre-created.  This advice is even in the case where someone sends ether to an accidental address, which happens to be the address that your new contract would be deployed to.

[2017-05-17 14:37] mathcrypto commented on #61
Can we create a contract with pre existing balance and it will not refer to the addresse which created it. Annonimize the creator

[2017-05-17 14:39] mathcrypto commented on #61
and also, will this balance be used by the owner of the contract or it will stay blocked if it came from someone else?

[2017-06-19 20:00] maurelian commented on #75
Added in #77

[2017-06-19 20:00] maurelian commented on #75
@simondlr can you close this, and give me the permission to do so in the future. :)

[2017-06-19 20:02] maurelian opened #78 "Section discouraging implicit syntax over explicit syntax"
This includes #57, as well as

Using parameter types to implement both in the same contract (overloading):
`doSomething(uint256)`
`doSomething(bytes32)`

Probably quite a few others.

[2017-06-19 20:42] simondlr commented on #75
Done. :)

[2017-06-19 20:42] #75 closed

[2017-06-20 19:05] maurelian opened #79 "Code should be verified on a block explorer"
![image](https://user-images.githubusercontent.com/23033765/27350984-f0dde05c-55c9-11e7-8bdf-d482ff56d074.png)

[2017-06-23 10:35] maurelian opened #80 "Use the Burner contract"
Instead of sending to some unowned address like 0xDEAD, use this burner:

https://etherscan.io/address/0xb69fba56b2e67e7dda61c8aa057886a8d1468575#code

[2017-06-29 19:38] AlexXiong97 opened #81 "Missing semicolon"
In the "Using Registry contract to store the latest version of the contract" part, the example code has a missing semicolon:

`modifier onlyOwner() {
        if (msg.sender != owner) {
            throw;
        }
        _
    }`

there should be a semicolon at the back of `_`

And several following examples have the same issue.

[2017-07-03 20:41] #81 closed

[2017-07-03 20:41] simondlr commented on #81
Thanks for picking this up @AlexXiong97!

[2017-07-05 14:42] maurelian opened #83 "Clarify timestamp guidance"
It seems to be a bit overly prescriptive, especially given the size of the current reward, for certain use cases timestamps should be fairly safe.

Perhaps we can quantify what values, or granularities of time are safe.

Reference:
https://ethereum.stackexchange.com/questions/413/can-a-contract-safely-rely-on-block-timestamp/432#432

[2017-07-18 17:50] maurelian opened #85 "Recommendations for preventing address switching attacks"
The example I'm thinking of is CoinDash.

Possible options include:
* using the ENS to demonstrate ownership
* publishing addresses well in advance.
* hosting the site on IPFS

[2017-07-18 22:21] simondlr commented on #85
Out of curiosity, do we know how their site was hacked and the address replaced?

[2017-07-19 01:30] maurelian commented on #85
Hmmm... I maybe saw something about DNS provider social engineering on twitter... so case solved right?!
I'm sure Reddit will claim to.
Main point is that sites get hacked, and multiple easy to verify sources should probably have the address listed in advance. Long term, I think ENS adoption is the best hope.

[2017-07-19 10:11] JohnAllen commented on #57
Can someone expand on why?  Because 'var's are mutable?

[2017-07-19 12:26] maurelian commented on #57
Good question. Its non-explicit and kind of lazy.

The only reason I can think of to use `var`, is to avoid having deciding what kind of type you want to use, which shifts the cognitive load to devs reading and reviewing your code. Readability is key to security.

[2017-07-19 12:35] JohnAllen commented on #57
Honestly when I saw 'var' I thought JavaScript and lapsed into thinking
about 'const' and 'let'. But solidity just looks like JS, but is very very
different.

So wouldn't it make sense to enforce type declarations?  I think I would do
that to get developers that may be alternately writing JS and Solidity to
remember that they're in a very different and unforgiving environment when
writing Solidity

[2017-07-19 12:56] maurelian commented on #57
Yeah. The "solidity is like js" meme is a pretty bad one, which this `var` feature reinforces. Fortunately it looks like it's on its way to deprecation, as the compiler gives a warning:

[code]

[2017-08-11 03:02] Everhusk opened #90 "DoS with unexpected throw"
In https://github.com/ConsenSys/smart-contract-best-practices#dos-with-unexpected-throw

In the bid function, how exactly can currentLeader.send(highestBid) fail?

[2017-08-11 13:04] maurelian commented on #90
A simple example would be if `currentLeader` was a contract with a non-payable fallback function, or if the contract has insufficient balance.

[2017-08-11 13:04] #90 closed

[2017-08-14 17:14] maurelian opened #92 "Add vuln reporting process"
We should support this proposal:
https://github.com/ethereum/EIPs/pull/679/commits

[2017-08-15 23:35] maurelian opened #93 "Encourage more activity to move off chain and other gas cost reductions"
* state channels
* doing complex calcs off-chain, verifying them on-chain
* splitting high congestion stuff into multiple tx with smaller gas cost (ie. 0x token sale approach)

[2017-08-17 03:11] #45 closed

[2017-09-14 17:13] maurelian opened #97 "Section on deployment instructions"
* key management: msg.sender which publishes contract is probably stored in plain text on your machine, probably that address shouldn't be used for permissioning in the deployed system.
* Other deployment suggestions

[2017-09-20 21:38] cgewecke opened #101 "Best practices truffle-box?"
Not sure this is the right forum to propose this, but it might be nice to develop a truffle box at Consensys that:
+ installed with a full suite of code quality, doc generation and security tools.
+ came with working CI `.ymls` for Circle / Travis.
+ included convenience scripts for everything it shipped, e.g: `npm run lint`.
+ was seeded with contracts & tests that exemplify bad practice and prod

[2017-09-21 01:25] maurelian commented on #101
Thanks @cgewecke, very interesting suggestion! I'll inquire with the truffle team about how best to do this.

[2017-09-22 18:19] maurelian opened #102 "Review and update for underhanded contest results"
I think there are some novel items in here that we need to incorporate, but I haven't look at all of them yet.

https://medium.com/@chriseth/lessons-learnt-from-the-underhanded-solidity-contest-8388960e09b1
https://github.com/Arachnid/uscc/tree/master/submissions-2017/
https://medium.com/@weka/announcing-the-winners-of-the-first-underhanded-solidity-coding-contest-282563a87079

[2017-09-22 20:19] cgewecke commented on #101
Thanks so much @maurelian for your help with this. Closing.

[2017-09-22 20:19] #101 closed

[2017-11-14 20:46] #56 closed

[2017-11-14 20:46] #60 closed

[2017-11-14 20:47] maurelian commented on #60
IMO this is covered in the General philosophy section:

[2017-11-14 20:50] maurelian commented on #52
552fc965fe2b1622fb5112a89c7eab7578f514db

[2017-11-14 20:50] #52 closed

[2017-11-14 20:51] maurelian commented on #43
this is long done.

[2017-11-14 20:51] #43 closed

[2017-11-14 20:58] maurelian opened #112 "Reorder the attacks and recommendations sections"
The [attacks](https://consensys.github.io/smart-contract-best-practices/known_attacks/) and [recco's](https://consensys.github.io/smart-contract-best-practices/recommendations/) sections have lots of good content, but need some organization to facilitate navigation.

I think each page could be divided into at least two top level categories:

1. Protocol specific
2. Solidity specific

This would he

[2017-11-14 21:09] #50 closed

[2017-11-14 21:13] maurelian commented on #55
I've added a bounty to this, as it's not as straight forward as it may sound. Probably requires some research into what best practices have emerged in the community.

If you're submitting a PR for it, please link to references.

[2017-11-14 21:13] maurelian commented on #57
Consolidating this with #78.

[2017-11-14 21:13] #57 closed

[2017-11-14 21:14] maurelian commented on #78
Also include "avoid the use of `var`".

[2017-11-14 21:20] maurelian opened #113 "Add a new section for operational security best practices."
ISSUE:  There are many security consideration outside of programming and architecture, which are not covered here.

PR REQUEST: A new section should be created (including modifying the [yaml config(https://github.com/ConsenSys/smart-contract-best-practices/blob/master/mkdocs.yml)), which presents the various operational considerations necessary when deploying a contract system.

These include exis

[2017-11-17 21:36] maurelian opened #115 "Should we keep the "Future Improvements" page?"
https://consensys.github.io/smart-contract-best-practices/future_improvements/

If so it needs an update.

[2017-11-17 21:37] maurelian commented on #115
Same question for the bibliography: https://consensys.github.io/smart-contract-best-practices/bibliography/

[2017-11-21 22:48] maurelian commented on #1
Closed by #114

[2017-11-21 22:48] #1 closed

[2017-11-23 13:30] vaibhavchellani commented on #112
@maurelian i want to work on this , how should i claim this issue ?

[2017-11-24 11:23] maurelian commented on #112
Hey @vaibhavchellani, you can submit a PR which completes it. Refer to PR #116 for some more background, not sure why that one was closed, @zolmeister?

[2017-11-24 17:59] Zolmeister commented on #112
I got bored

[2017-11-26 21:45] owocki commented on #112
@maurelian @yippee-ki-yay 🎉

[2017-11-27 09:53] eknoes commented on #112
Why was it reverted with 3e50aaba2b9e405609ab191cf9a27bdf537cf7b6 ?

[2017-11-28 02:49] maurelian commented on #112
I reverted changes on one of the files, but not both. Upon further inspection, and consideration, security recommendations can be divided into protocol and solidity, but all attacks are protocol specific.

[2017-11-28 02:49] #112 closed

[2017-12-04 18:53] owocki commented on #55
hey @maurelian did you want me trying to source this still?  i see the bounty has expired.. so you now has the option to clawback the funds or to just keep it open (and ill continue looking for someone to help)

[2017-12-04 18:53] owocki commented on #113
hey @maurelian did you want me trying to source this still? i see the bounty has expired.. so you now has the option to clawback the funds or to just keep it open (and ill continue looking for someone to help)

[2017-12-20 21:33] maurelian commented on #113
I'd like to claw it back. This task was too open ended.

Unfortunately, I can't see how to do that.

[2017-12-20 23:49] owocki commented on #113
@maurelian no problem.  just sent you the clawback link on slack.

[2017-12-21 02:07] owocki commented on #55
still working on it..

[2017-12-26 17:19] tjayrush commented on #55
Maybe I can start the ball rolling by adding a few thoughts:

1) There should be community agreement on Mint/Burn events for both ERC20 and ERC721 tokens. If one wishes to account for a token after the fact in a programmatic way, it is impossible because there is no standard for Mint/Burn. The community should try to add this to the token standards. As it currently stands, the only sure-fire way t

[2017-12-27 23:41] nemild opened #125 "Should we lock pragma?"
This guide argues that [pragma be locked](https://github.com/ConsenSys/smart-contract-best-practices/blob/master/docs/recommendations.md) to a specific version.

The Ethereum Solidity guide [argues that pragmas should be allowed to move up in the patch version](https://solidity.readthedocs.io/en/develop/layout-of-source-files.html) (e.g., `^0.4.20` rather than `0.4.20`):

We should probably debate

[2017-12-30 19:36] maurelian commented on #125
In my opinion, pragmas should include `^` until the time of deployment, or an audit. They should then be locked to make it clear at which version the deployed versions were compiled at. Source code pragmas should also be locked when verified on etherscan or other similar services.

[2018-01-01 04:02] nemild commented on #125
Makes sense.

And yet another use case is a contract created primarily to be used by others. For example, the [Zeppelin contracts](https://github.com/OpenZeppelin/zeppelin-solidity/). In this case, I do think there are advantages to include the `^`, as presumably bugs may discovered since the contract was first created, and this contract "lives" on Github, not just on the blockchain.

As a next st

[2018-01-02 11:10] maurelian commented on #125
That does sound to me like quite a valid use case @nemild, and I would very much appreciate you taking a first crack at that!

[2018-01-02 16:29] owocki commented on #113
hey @maurelian happy new years :) let me know if you got that clawback link and if you need any help :)

[2018-01-02 16:30] owocki commented on #55
happy new year folks... @tjayrush thanks for getting the ball rolling..

im planning on doing a little promotional stuff for this task this week

[2018-01-03 00:45] sohkai commented on #55
It might also be interesting to explore some existing approaches for instrumentation, e.g. [ds-note](https://github.com/dapphub/ds-note) and viewers, e.g. [rufflet](http://rufflet.cryptokitties.co/).

[2018-01-03 00:54] sohkai commented on #125
We also had a similar discussion in aragon-core (https://github.com/aragon/aragon-core/pull/160).

The two major use cases I see for including `^` are "library" contracts (like those in Zeppelin) and "interface" contracts (like ERC standards or those someone who wants to interface with your contract might want). Any critical component that's relatively complex and has been deployed should be locke

[2018-01-03 01:13] maurelian commented on #125
On a somewhat related note, are you using EthPM to install Zeppelin? I find it unsettling when people copy and paste one or two contracts.

[2018-01-03 01:17] sohkai commented on #125
We are not yet, but I agree, it is unsettling. Seems to be fairly widespread practice though.

[2018-01-03 07:02] izqui commented on #125
We treat every piece of code that gets imported in our repos as our own, in terms of code review and auditing. I'm quite concerned about code that we import changing under us without noticing for any reason (not locking ethpm versions correctly, vulnerability in tooling, etc).

We also only use a couple of silly contracts, no need for us to have the full Zeppelin dependency.

[2018-01-09 23:55] maurelian commented on #125
OK, is a reasonable summary here:

* If the contract is intended to be used by others (ie. a framework, or EPM package), it makes sense to include `^`.
* Otherwise, pin it.

Or did I miss another case where it should be floated?

[2018-01-10 17:46] KevinSmall commented on #113
is this one still available? It says status = active, but expired = 1 month ago (and from comments above it looks closed)

[2018-01-10 18:21] maurelian commented on #113
It's available on a voluntary basis only now.

[2018-01-11 10:56] djeang opened #126 "Section Pitfalls in Race Condition Solutions"
Hi,

I don't understand : _// At this point, the caller will be able to execute getFirstWithdrawalBonus again_

According Solidity official documentation about internal function call

So I can't figure how a caller can take control of the flow here. Can you describe how  ?

[code]

[2018-01-11 13:11] djeang commented on #126
Sorry,

I got it : as `withdraw ` in turn calls  an external function, caller can take control.

[2018-01-11 14:30] maurelian commented on #126
No problem. In the future, feel free to ask in the gitter chat:

https://gitter.im/ConsenSys/smart-contract-best-practices

[2018-01-11 14:30] #126 closed

[2018-01-16 11:52] maurelian commented on #125
closed in https://github.com/ConsenSys/smart-contract-best-practices/commit/f15ca95557aad8c1ebe59c5feea4a91e3d729948

[2018-01-16 11:52] #125 closed

[2018-01-17 06:11] owocki commented on #113
Please disregard the message from Gitcoinbot above.. The bounty was killled, not approved.

[2018-01-18 21:20] maurelian commented on #83
@djphillyg you can take this on when you're done your research. :)

[2018-01-18 21:21] maurelian opened #128 "Document the short address attack mitigation failure"
https://blog.coinfabrik.com/smart-contract-short-address-attack-mitigation-failure/

[2018-01-18 21:24] maurelian opened #129 "Document the insufficient gas replay attack"

[2018-01-18 22:29] maurelian commented on #128
Upon further review, a very short summary is:

[2018-01-20 22:39] maurelian opened #130 "Warnings regarding solidity inheritance risks"
Would probably go under the [solidity specific recommendations](https://consensys.github.io/smart-contract-best-practices/recommendations/#solidity-specific-recommendations) section.

https://pdaian.com/blog/solidity-anti-patterns-fun-with-inheritance-dag-abuse/

[2018-01-23 19:07] aj07 commented on #55
@tjayrush is that bounty still open?

[2018-01-24 00:04] maurelian commented on #55
I originally placed the bounty, but it's no longer open.
I'm fine with incentivizing OSS contributions, but dislike hosting the bounty allocation conversation.

[2018-01-26 18:12] maurelian opened #133 "Caution regarding introducing race conditions in solidity modifiers"

[2018-01-30 20:55] devzl commented on #115
I think the future improvements part is useless.

For the bibliography, it should be kept for further reading and discovery.

[2018-03-13 16:44] mimoo commented on #128
As far as I see, the page is not documenting short address attacks in the first place

[2018-03-13 16:57] mimoo commented on #115
I think it should be kept and it should focus on formal verification of contracts.

[2018-03-13 17:12] mimoo commented on #83
It lacks a reference on that. I've looked at geth's code and it checks if it's older than the previous block + not more than 15 seconds in the future.

[2018-03-13 17:15] mimoo commented on #113
It should probably have a mention about contract audits.

[2018-07-18 22:56] addojames11 commented on #115
It should be kept

[2018-07-19 01:46] maurelian commented on #115
PRs are welcome. :)

[2018-08-30 15:00] maurelian opened #162 "better multi lang support"
https://github.com/squidfunk/mkdocs-material/issues/867#issuecomment-417339752

[2018-08-31 05:08] b-mueller commented on #162
I reverted the merge of Korean translations by @James-Lim as it broke some stuff on the page. When we have a solution for multi-lang we can incorporate them again. The files are here:

https://github.com/James-Lim/smart-contract-best-practices/tree/translate/kr

[2018-09-06 12:59] maurelian opened #164 "Improve upgradeability section"
This [post](https://blog.trailofbits.com/2018/09/05/contract-upgrade-anti-patterns/) from our friends at Trail of Bits made reference to some outdated content in our best practices.

It definitely needs to be revisited, and in the shorter term, possibly removed or wrapped in a big fat caveat.

[2018-09-21 09:53] jtjisgod opened #168 "How about providing PDF document?"
How about providing PDF document?

I like reading printed document. but, This document site is not providing pdf document.
So, I request you that upload pdf version document.

( I'm already converted this document to pdf  using with http://www.markdowntopdf.com/ )

[2018-09-21 09:54] jtjisgod commented on #168
[document.pdf](https://github.com/ConsenSys/smart-contract-best-practices/files/2404812/document.pdf)

This is pdf of this document.

[2018-09-24 12:31] maurelian opened #169 "Don't delegateCall to untrusted code"
Seems obvious, but I don't think it's been said.

https://twitter.com/VladZamfir/status/1044094929754980352

[2018-09-24 20:51] maurelian commented on #168
Thank you for your suggestion.

However, this site is ever evolving, and so any PDF will be outdated. I think it's best that readers find their own solution for printing.

[2018-09-24 20:51] #168 closed

[2018-09-26 14:46] maurelian opened #170 "Avoid bypassing Solidity's type checking system"
In functions where a contract address which is meant to be of defined type is passed as an argument, the argument should have the contract type, not `address` type.

Example:
https://gist.github.com/maurelian/ce15d6fe0daca64b324ca0c1502017ea

[2018-10-01 17:01] maurelian opened #171 "Guidance related to the safe use of the `int` type"
Thanks to @dappsec for pointing this out to me. These words are mostly his:

Here's a bit of a puzzle demonstrating the problem:

<img width="619" alt="screen shot 2018-09-30 at 4 51 51 pm" src="https://user-images.githubusercontent.com/23033765/47238390-0b2cf280-d3b0-11e8-9acc-feb128e609c6.png">

This is one of two 256-digit signed values where the unary negation operator returns the same value.

[2018-10-01 17:19] #130 closed

[2018-10-01 17:20] #78 closed

[2018-10-01 17:27] maurelian commented on #133
If a modifier makes an untrusted external call, or does a state change, it could obfuscate a deviation from the recommended 'checks-effects-interactions' pattern, resulting in a potential reentry vuln.

[2018-10-01 17:27] maurelian opened #172 "Meta Issue for Gitcoin Bounty"
# **Assigment:** Add to the ConsenSys Best Practices repository

## Description

Our documentation should be updated to remain current. We are looking to work with a single contributor who can:

1. Write in a similar [style](https://consensys.github.io/smart-contract-best-practices/about/contributing/#style-guidelines) as the existing content
2. Has a strong understanding of solidity and the EVM
3

[2018-10-04 11:49] Destiner commented on #172
Hi @maurelian. Interested in the project.
As far as I understand, this task requires researching through the provided issues and then adding 5 entries to either Recommendations or Known Attacks (from the first glance, most of them belong to the former) with short code samples.
Sounds good?

[2018-10-04 15:40] maurelian commented on #172
That's sounds accurate to me. I like your work on the SWC registry, so let's get going. :)

You can find me on the Mythril discord if you have questions.

[2018-10-09 18:22] Destiner commented on #172
Submitted #176, #177, #178.

[2018-10-10 00:58] #83 closed

[2018-10-10 01:30] #169 closed

[2018-10-10 01:35] maurelian commented on #172
Merged those!

[2018-10-10 23:51] Destiner commented on #172
Added #180 and #181.

[2018-10-12 01:07] #55 closed

[2018-10-16 19:20] ceresstation commented on #172
@Destiner Sorry about that, just turned off the bot for a few days!

[2018-10-17 01:38] #133 closed

[2018-10-17 01:40] maurelian commented on #172
Great work @Destiner. Just merged that last one!

[2018-10-17 01:40] #172 closed

[2018-10-17 20:04] ceresstation commented on #172
Awesome job again @Destiner, paying out the bounty now!

[2018-10-19 19:14] maurelian opened #182 "Block Stuffing documentation"
See: https://osolmaz.com/2018/10/18/anatomy-block-stuffing/

This is a form of DOS, and somewhat related to https://consensys.github.io/smart-contract-best-practices/recommendations/#in-2-party-or-n-party-contracts-beware-of-the-possibility-that-some-participants-may-drop-offline-and-not-return.

Basically, anytime you can gain or grief by preventing an action before a specific time, this issue ex

[2018-10-20 17:36] dappsec commented on #171
Meant to write "Blame two's complement arithmetic" in my original message.

[2018-10-24 03:55] maurelian opened #184 "Contribute to the Smart Contract Best Practices"
## About the ConsenSys Smart Contract Best Practices

Our best practices are the most popular security reference for smart contract developers. We're looking for help maintaining and expanding them.

### Tasks

Create documentation for 3 unaddressed issues:

- [ ] #182
- [ ] #171
- [ ] #129

### Important

We are looking to work with a single contributor who can:

1. Write in a similar [style](htt

[2018-10-24 04:10] maurelian opened #185 "Support documentation in multiple human languages"
## About the ConsenSys Smart Contract Best Practices

Our best practices are the most popular security reference for smart contract developers. We're looking for help maintaining and expanding them.

### User story

As a user, I would like to be able to translate and visit the site in a [non-english language](https://consensys.github.io/smart-contract-best-practices/).

### Task

We have had two a

[2018-10-25 02:58] aj07 commented on #184
Hello @maurelian ,

I would like to work on this issue. I have fair amount of understanding on Solidity and doing lots of research on security best practices.

[2018-10-25 14:16] maurelian opened #187 "Add: Prefer external over public for function visibility"
Add to Solidity specific recommendations:

Saves gas (at least unoptimized), but especially it provide certainty that the function has a single entry point
via an call from another account.

[2018-10-25 14:16] maurelian opened #188 "Change 'race condition' terminology"
I don't think reentrancy is properly classified as a race condition, change my mind.

[2018-10-25 15:20] aj07 commented on #182
In the link https://osolmaz.com/2018/10/18/anatomy-block-stuffing/  , he described in very good way that how hacker hacked Fomo3D. But, there is no description on how it can be prevented. Only thing mentioned is that in PoS this would be very complex. @maurelian what should we include about it.

[2018-10-25 17:58] maurelian commented on #184
Hi @aj07, thanks for your interest. I've approved Destiner based on the good experience I had working with him on a recent bounty. Perhaps next time. :)

[2018-10-27 12:54] Destiner commented on #184
Quick update. Started to work on the first issue, hopefully will send some drafts by Monday.

[2018-10-29 17:37] Destiner commented on #184
Added #189.

[2018-10-31 18:14] Destiner commented on #184
Added #190 as well.

[2018-11-02 19:42] maurelian opened #191 "New page listing security relevant EIPs"

[2018-11-05 23:07] mimoo opened #192 "is pragma lock really relevant?"
cf https://consensys.github.io/smart-contract-best-practices/recommendations/#lock-pragmas-to-specific-compiler-version

According to [Solidity's documentation](https://solidity.readthedocs.io/en/v0.4.24/layout-of-source-files.html#version-pragma) this prevent compilation with updates that bring breaking changes. I'm assuming that it might also prevent uses of beta versions (although I'd like a co

[2018-11-05 23:39] mimoo commented on #192
Actually I just confirmed that

[code]

will compile fine with `0.4.26-nightly.2018.9.25`. So that's bad, probably a semantic version bug? (I don't know much about semver). Probably this is worth mentioning in the section.

[2018-11-06 15:40] #171 closed

[2018-11-06 17:56] #182 closed

[2018-11-06 19:17] #192 closed

[2018-11-06 19:19] maurelian commented on #192
For context, this was discussed previously in #125. To me, the most important benefit of pragma locking is to explicitly communicate to future readers which compiler version was actually used.

It's a good point that nightlies should be considered as beta and not allowed by `^`. I'll add a note.

ps. here's an awesome semver resource: https://semver.npmjs.com/, though

[2018-11-06 20:03] mimoo commented on #192
I've only confirmed this with remix, which seems to use your npm library

[2018-11-07 03:40] maurelian opened #193 "Add vyper translations alongside solidity"
Let's make these docs multilingual!

## Spec

1. Move all the solidity code samples appearing in the docs into a new dir, with a descriptive title.
2. Using the [snippets feature of PyMDown](https://facelessuser.github.io/pymdown-extensions/extensions/snippets/#overview), insert the solidity code samples.
3. Using the [super-fences feature](https://facelessuser.github.io/pymdown-extensions/extensi

[2018-11-07 10:36] NickErrant commented on #171
Related issue (actual overflow though) exists with multiplication and division of signed ints in special case:
https://github.com/RequestNetwork/requestNetwork/issues/43
https://github.com/JoinColony/colonyNetwork/issues/417

[2018-11-07 18:50] Destiner commented on #184
@gitcoinbot On my way to finish the last one.

[2018-11-08 00:13] maurelian opened #195 "New Page: EVM quirks"
This page should be a collection of all the little low level idiosyncracies. Code examples would be optional. This page should be succinct, and mostly link to external references.

Things like:
* Only 63/64 gas is forwarded on a CALL (EIP 150)
* If a contract is SelfDestructed, it isn't removed from state until after the transaction is completed.  (Yellow paper 6.1)
...

[2018-11-09 21:21] Destiner commented on #184
Draft is ready, will review by myself and then submit.

[2018-11-11 16:36] Destiner commented on #184
Added #196.

[2018-11-13 18:45] #184 closed

[2018-11-13 18:49] maurelian commented on #184
I apparently unitentionally sent the payment as a tip (transferring funds directly from the account), instead of triggering a payout for the bounty. So I have cancelled the bounty.

Thanks for your great work @Destiner, hope to work with you more in the future.

[2018-11-13 19:05] Destiner commented on #184
Good. Thank you @maurelian for assistance along the way. And thanks for Gitcoin Kudos ^_^

[2018-11-18 09:38] cwellsx commented on #188
IMO a "race condition" is necessarily an artefact of multi-threaded code ... and may or may not happen (isn't deterministic) depending on timing, time-slicing, etc. Locks (e.g. mutexes) may be used to avoid race conditions ... and locks often don't support reentrancy (e.g. they deadlock).

So I think that the reentrancy between contracts which you describe isn't what I'd call a race condition.

Ne

[2018-11-19 13:51] #188 closed

[2018-11-28 22:41] TheKingBee commented on #191
I've begun classifying the EIP's according to status and subject [here](https://github.com/TheKingBee/smart-contract-best-practices/blob/master/docs/security_related_eips.md).

[2018-12-04 02:09] maurelian commented on #162
# Spec

## User story

Users should be able to read the best practices site translated into other languages.
Translators with appropriate expertise should be able to contribute by translating the site.

## Details

* The translated content should be held in the same branch, in a different directory for each language.
* There should be a dropdown navigation bar menu, for switching between languages

[2018-12-12 17:46] jacklaing opened #204 "Add Colony Bug Bounty to List of Smart Contract Bug Bounty Programs"
Colony: [Launched](https://blog.colony.io/announcing-the-colony-network-bug-bounty-f44cabaca9a3/) November 2018, max payout $20k

You can also read [here](https://blog.colony.io/for-whom-the-delegate-calls/) for a primer on the colonyNetwork contracts.

[2018-12-16 20:37] #191 closed

[2019-01-11 22:41] shayanb commented on #162
Material for MkDocs supports internationalization (i18n) and provides translations for all template variables and labels: [link](https://squidfunk.github.io/mkdocs-material/getting-started/#language).

Although still not sure how to add localization to the documentations itself. I'll keep this issue updated on the progress.

[2019-01-24 01:58] shayanb commented on #187
Added [0e56e46de8152d59a1b766a09e7e6e077ddb1acc](https://github.com/ConsenSys/smart-contract-best-practices/blob/0e56e46de8152d59a1b766a09e7e6e077ddb1acc/docs/recommendations.md#explicitly-mark-visibility-in-functions-and-state-variables)

[2019-01-24 20:19] #80 closed

[2019-01-24 20:59] #115 closed

[2019-01-24 21:00] #102 closed

[2019-01-24 21:05] #187 closed

[2019-01-24 21:06] shayanb commented on #113
Also:
-  https://github.com/ConsenSys/smart-contract-best-practices/issues/128
- Similar to https://github.com/ConsenSys/smart-contract-best-practices/issues/97 but more practical guide. e.g. do not use the same machine as the node and the signing server. Recommendation: run node on the cloud/ Infura, use secure server for signing/holding private key
- Include https://github.com/ConsenSys/smart-co

[2019-01-24 22:00] shayanb commented on #67
Added https://github.com/shayanb/smart-contract-best-practices/commit/0cd18f8f67dd40b10237d3984f35b2b41f77c027

[2019-01-24 22:00] #67 closed

[2019-01-24 23:55] shayanb commented on #195
This paper might be useful for this section [Solidity Parsing Using SmaCC: Challenges and Irregularities](https://hal.inria.fr/hal-01651858/document)

[2019-01-25 20:00] #185 closed

[2019-01-25 20:10] shayanb commented on #164
No links from the mentioned post to Best practices exist at this time.

Related section: https://consensys.github.io/smart-contract-best-practices/software_engineering/

[2019-01-25 20:18] shayanb commented on #204
Added in a37d24144013d0b34487d505a188c8f2dffcec2e

[2019-01-25 20:18] #204 closed

[2019-01-25 20:30] maurelian commented on #164
They took it down.... but we should definitely discuss that section's value.

[2019-01-25 20:39] #58 closed

[2019-01-25 20:53] maurelian commented on #193
Here's a better superfences reference:
https://facelessuser.github.io/pymdown-extensions/extensions/superfences/#tabbed-fences

[2019-01-26 08:49] Destiner commented on #195
* `blockhash` only works for 256 most recent, excluding current, blocks

[2019-01-28 22:03] maurelian commented on #195
^ good example.

[2019-01-28 22:07] smarx commented on #195
I believe that this is changing in Constantinople. See http://swende.se/blog/Blockhash-Refactor.html. There will still be non-obvious limitations on what hashes you can retrieve, but it will no longer be limited to the most recent 256.

[2019-01-30 15:00] maurelian opened #208 "Deprecate Log prefix recommendation on events"
https://github.com/ethereum/EIPs/issues/1724#issuecomment-458948709

The emit keyword fixes the ambiguity issue.

[2019-01-30 20:05] maurelian commented on #102
@shayanb I wonder if the issues items we added for this might have been a better fit for their own section, or perhaps simply being linked to. They are much more involved to describe...

[2019-01-30 21:20] shayanb commented on #102
@maurelian What do you have in mind for "their own section"? I was thinking of having a CTF samples section to have these in there, maybe even link Steve's twitch solutions in the same page. but it might not get the point across as possible attack vectors.

[2019-01-30 23:46] maurelian commented on #102
Yes, Something like CTF samples makes more sense, as the USCC was kind of a CTF design competition in some sense. The point is that these sneaky design patterns are very hard to distil into a single recommendation or known attack. It might even be better just to describe them very briefly and link elsewhere.

[2019-02-05 02:49] shayanb commented on #208
Done in c0b9118b91793d00fdf893ce799d14abb63e46e6 .

[2019-02-05 02:49] #208 closed

[2019-02-05 03:44] shayanb opened #209 "front-running section"
Fill in the Front-running section in `known_attacks` with taxonomy, some examples with mitigation methods

[2019-02-14 19:42] shayanb opened #211 "Add Directory of security contacts for blockchain companies + bounties"
Add [Directory of security contacts for blockchain companies](https://github.com/trailofbits/blockchain-security-contacts) and update the bounties from the list

[2019-02-24 04:42] maurelian commented on #209
+1. Just looked and the current sections is pretty weak. :open_mouth:

[2019-03-13 13:30] maurelian opened #214 "setup codeship to build when updates are pushed to master"
currently it only builds when a pr is merged.

[2019-03-13 14:46] maurelian commented on #214
I needed to migrate to the updated codeship api. That requires admin approval. So, I'm waiting onthat.

[2019-03-25 07:11] hiteshjoshi1 opened #215 "Bug Report- Incomplete subsection"
_Where_: https://github.com/ConsenSys/smart-contract-best-practices/blob/master/docs/recommendations.md
/smart-contract-best-practices/docs/recommendations.md
_Section_ - Remember that Ether can be forcibly sent to an account

_Current_ - Section is unclear and sentence  is not complete .
This is also true for...

_Expected_ - Section clearly describes what happens when Ether is forcibly sent. How

[2019-04-10 11:05] jennylialiu commented on #93
Suport

[2019-05-11 07:20] nakajo2011 opened #219 "Mistake calling `underflow`"
The title `Integer Overflow and Underflow` is mistake. I think it is (negative) overflow.

[2019-08-27 13:32] simonDos opened #225 "add style guide"
If I am not mistaking there is no section describing the common formatting of solidity code.

This can be highly valuable for newcomers and for the community as a whole!

There are some good style guides already out there that could be incorporated like this one:
https://github.com/0xcert/solidity-style-guide

[2019-09-24 20:29] maurelian commented on #215
I agree.

Best way to address this would be by adding an example of vulnerable code.

[2019-09-25 11:04] cleanunicorn commented on #219
I don't think it's actually a mistake. "Underflow" is used in a lot of places and the definition matches what we want to express.

Wiki:

Google definition:

[2019-09-25 11:04] #219 closed

[2019-11-21 21:13] KadenZipfel opened #234 "Accepted token standards"
Currently listed in our [accepted token standards](https://consensys.github.io/smart-contract-best-practices/tokens/#comply-with-the-latest-standard), we have EIP20 & EIP721. Are we ready to add any other token standards to this list?

[2019-11-21 22:40] KadenZipfel opened #235 "Update to be made after Istanbul"
[This section](https://consensys.github.io/smart-contract-best-practices/recommendations/#avoid-transfer-and-send) will have to be updated after Istanbul.

[2019-11-21 23:08] KadenZipfel commented on #164
Here are some great resources on the topic:

https://blog.openzeppelin.com/proxy-patterns/
https://blog.openzeppelin.com/towards-frictionless-upgradeability/
https://blog.openzeppelin.com/upgradeability-using-unstructured-storage/

[2019-11-22 01:18] KadenZipfel opened #237 "Replace rate limiting example"
In [this section](https://consensys.github.io/smart-contract-best-practices/software_engineering/#rate-limiting), we have an example circuit breaker contract that performs a rate limiting technique. However, in my opinion, the current example is more complex than necessary, and somewhat unclear.

Here I've simplified the current example.

[code]

[2019-11-22 03:39] shayanb commented on #234
Ideally I like to see a better taxanomy of tokens and the common issues of each (maybe similar to  this: [SecurityToken section](https://github.com/ConsenSys/polymath-audit-report-2019-04#design).
Or maybe also use a taxanomy of diffrentiating the tokens based on their nature (e.g. https://medium.com/cryptolawreview/token-taxonomy-frameworks-de968bf2605c)

This is just a brainstorming comment, ope

[2019-11-22 18:18] KadenZipfel commented on #234
I very much like the idea of having a taxonomy of tokens, and I think the second link does a good job at classifying them.

However, I think the difficulty with adding to our accepted token standards is determining whether they're suitable from a security standpoint. I think that it would be good to start by possibly adding to [this list](https://consensys.github.io/smart-contract-best-practices/t

[2019-11-26 18:10] maurelian opened #239 "Meta Issue for Gitcoining"
For @KadenZipfel's contributions.

[2019-12-04 19:07] maurelian commented on #234
Addressed this in a3f916f295e7a4d0055e3264e30f1baf2084fe65

[2019-12-04 19:07] #234 closed

[2019-12-04 19:11] #239 closed

[2019-12-04 19:12] maurelian commented on #235
Would welcome a PR for this.

[2019-12-05 01:03] #193 closed

[2019-12-05 17:53] maurelian commented on #215
AFAICT this was fixed at some point.

[2019-12-05 17:53] #215 closed

[2019-12-05 17:54] maurelian commented on #85
I believe this is out of scope.

[2019-12-05 17:54] #85 closed

[2019-12-05 17:54] maurelian commented on #51
This would belong in a style guide section, which we do not have.

[2019-12-05 17:54] #51 closed

[2019-12-05 17:57] maurelian commented on #97
I'm declaring opsec out of scope.

[2019-12-05 17:57] #97 closed

[2019-12-05 17:59] #211 closed

[2019-12-05 17:59] maurelian commented on #214
I did this a while ago.

[2019-12-05 17:59] #214 closed

[2019-12-05 18:00] maurelian commented on #237
This would be good to have.

[2019-12-05 18:02] maurelian commented on #164
I think the right way to handle this is:
1. Write a paragraph about the risks and arugments against upgradability
2. Link to other resources such as those from Zepp and ToB above.

[2019-12-05 18:04] #128 closed

[2019-12-05 18:07] maurelian commented on #225
We actually have no content about style guides at all right now AFAICT. This could be valuable, perhaps under documentation and procedures?

I'm especially interested in style guides that have linter plugins.

[2019-12-05 18:35] KadenZipfel commented on #237
Shall I make a PR?

[2019-12-06 18:49] maurelian commented on #113
Current Modus Operandi is to reduce scope and improve the core content.

[2019-12-06 18:49] #113 closed

[2019-12-06 18:50] #93 closed

[2019-12-26 14:47] maurelian commented on #237
Yes please.

[2019-12-26 14:48] maurelian commented on #235
Bump :)

[2019-12-26 18:07] KadenZipfel commented on #237
https://github.com/ConsenSys/smart-contract-best-practices/pull/241

[2019-12-26 19:19] KadenZipfel commented on #235
https://github.com/ConsenSys/smart-contract-best-practices/pull/242

[2020-01-03 19:48] fodisi commented on #164
Hi,
I just submitted PR #244 to address this issue. I'm fully open to rework my proposal based on the community feedback.

Thank you.

[2020-01-31 02:57] shayanb commented on #237
Thanks @KadenZipfel .

[2020-01-31 02:57] #237 closed

[2020-04-07 22:01] #209 closed

[2020-06-09 15:58] #235 closed

[2020-06-18 06:30] samsaif87 commented on #225
Good

[2020-12-10 14:52] KurtMerbeth opened #249 "dead link: securify"
securify link is dead.

maybe replace by this link: https://github.com/eth-sri/securify2

[2020-12-15 20:55] PatrickAlphaC opened #251 "Oracle Manipulation"
Please add oracle manipulation attacks. The defi space seems to have gone through a gauntlet of attacks in November, with millions going to attackers' hands, and almost no information on the use of decentralized oracles.

Many projects use a centralized DEX to get pricing information, and then malicious users crash or spike said exchange to bomb the price.

On the other hand, Defi projects like Aa

[2020-12-20 21:05] carlfarterson commented on #249
https://github.com/ConsenSys/smart-contract-best-practices/pull/252

[2020-12-21 22:25] shayanb opened #253 "Update bounties"
Some new lists: https://immunefi.com/explore/

[2020-12-21 22:26] shayanb opened #254 "update bounties"
Some new lists: https://immunefi.com/explore/

[2020-12-21 22:26] #254 closed

[2020-12-21 22:48] shayanb commented on #249
merged.

[2020-12-21 22:48] #249 closed

[2021-01-05 16:59] shayanb commented on #193
@carlfarterson we closed this issue a while ago. just assigned it to you in case it's still something you want to do.

[2021-01-20 21:38] shayanb commented on #251
@carlfarterson consider adding your Oracle manipulation text to the following PR: https://github.com/ConsenSys/smart-contract-best-practices/pull/256

[2021-02-01 17:39] #251 closed

[2021-03-18 19:56] shayanb commented on #164
merged in https://github.com/ConsenSys/smart-contract-best-practices/issues/164

[2021-03-18 19:56] #164 closed

[2021-03-28 04:07] Psyruss77 opened #258 "Ss"

[2021-05-08 18:16] #258 closed

[2021-08-31 21:36] marceljay opened #264 "validDestination modifier"
Is the[ proposed modifier ](https://consensys.github.io/smart-contract-best-practices/tokens/) for valid destinations still considered a best practice?

The only downside I see is increased gas, but I do not have the perception it's commonly implemented.
[code]

[2021-10-16 20:21] Shahryarmohammadie643 commented on #253
Good

[2021-11-09 09:55] RZ9814 opened #267 "Hi"

[2022-01-13 17:13] #267 closed

[2022-01-31 12:59] dmuhs commented on #264
Hey Marcel! I'm currently spending my time between audits to revamp the best practices. The code samples especially are in dire need of some love. 😄  You are correct about the increased gas usage, and while lots of projects solve this issue by inlining these requirements, just as many neglect the `address(this)` check.

[There](https://www.reddit.com/r/ethereum/comments/sfz4kw/did_i_just_lose_half

[2022-02-02 16:43] marceljay commented on #264
Awesome. In the end I implemented the checks for our contracts (toucan.earth), I think especially `address(this)` has immense value :)

[2022-02-15 16:04] dmuhs commented on #264
Glad you found it helpful! Closing this issue.

[2022-02-15 16:04] #264 closed

[2022-03-13 04:55] RaenonX opened #285 "Speed bump example code is using unrecommended style"
In [general recommendations](https://consensys.github.io/smart-contract-best-practices/development-recommendations/general/external-calls/#dont-use-transfer-or-send), it is recommended against using `send()`. However, in the example code of [speed bump](https://consensys.github.io/smart-contract-best-practices/development-recommendations/precautions/speed-bumps/), it uses `send()`.

`send()` is mo

[2022-03-29 14:15] GraoMelo opened #288 "time out. they didn't care about."
time out. they didn't care about.

[2022-04-11 10:32] dmuhs commented on #253
Fixed in 5d6c90f34916270dabc4b3e0a63a2b096b60aaaa and subsequent small link fixes

[2022-04-11 10:32] #253 closed

[2022-04-11 10:37] dmuhs commented on #92
The EIP looks dead in the water. Maybe we can take some of its ideas and build a dedicated page with general recommendations?

[2022-04-11 10:38] #79 closed

[2022-06-26 20:07] David-B-Diligence opened #294 "Rate limiting example uses `transfer`."
[code]

[Elsewhere](https://consensys.github.io/smart-contract-best-practices/development-recommendations/general/external-calls/#dont-use-transfer-or-send) the guide recommends against using `transfer`.

[2022-07-24 08:17] krakxn opened #296 "Broken link in `README.md`"
### Context:

### Problem:

Here, the `contributing` redirect does not function as intended, and leads to a 404/Path not found error.

Cheers!

[2022-08-18 22:24] David-B-Diligence opened #298 "Event Monitoring suggests using `transfer()`"
[Event Monitoring suggests using `transfer()`](https://consensys.github.io/smart-contract-best-practices/development-recommendations/solidity-specific/event-monitoring/) but [External Calls warns against it](https://consensys.github.io/smart-contract-best-practices/development-recommendations/general/external-calls/#dont-use-transfer-or-send).

[2022-09-02 00:16] #288 closed

[2022-09-09 20:56] David-B-Diligence opened #299 "Explain difference between `tx.origin` and `msg.sender`."
In the [tx.origin](https://consensys.github.io/smart-contract-best-practices/development-recommendations/solidity-specific/tx-origin/) page it would be helpful to include short background information on what `tx.origin` is and how it differs from `msg.sender`.

[2022-09-13 13:05] AnandK-2024 commented on #299
The `tx.origin` **global variable** refers to the _original external account_ that started the transaction while `msg.sender` refers to the **immediate account** _(it could be external or another contract account)_ that invokes the function. The `tx.origin` variable will **<ins>always refer to the external account</ins>** while `msg.sender` can be a <ins>contract or external account</ins>.

```If

[2022-10-01 07:37] BabyBluezz opened #301 "How to get the historical floor price data (in 1 minute units) of a specified NFT ?"
**Sorry, as many paths have been tried without success. There are a lot of experienced people here, so will ask questions here.
   If this ask is inappropriate, please delete it.**

  **How to return the floor price of NFT at that historical moment through an NFT contract address and a timestamp with 1 minute precision.**

  This floor price is the floor price listed in the market (like the floor

[2022-10-11 20:03] AnandK-2024 opened #302 "Constructor Naming"
In this section ,there are nothing informative .

what was the purpose of build this [section](https://consensys.github.io/smart-contract-best-practices/development-recommendations/deprecated/constructor-naming/)?

[2022-10-11 20:30] AnandK-2024 commented on #302
### Up to Solidity 0.4.21
 constructor can be defined by the same name of its `contract name`.
However, this can possibly cause unintended bugs when contracts are renamed and their constructors are not renamed.

### Solidity 0.4.22 and above
Use a `constructor` keyword and create an anonymous function.

bad habbit : `function constructor(args) {....body........}`
 but
good habit:  `constructor (ar

[2022-11-16 14:51] tonynoce opened #308 "Explicitly declare state variables"
Reading the docs I found out that some of the state variables are left at the defaults, since this a developer guide with good securities measures shouldn't them be explicitly declared to public / private ?

[2022-11-19 00:36] David-B-Diligence opened #309 "Delete "Insecure Arithmetic" Page?"
Now that "Solidity automatically reverts on integer overflow and underflow, as of version 0.8.0." shall we delete the [Insecure Arithmetic](https://consensys.github.io/smart-contract-best-practices/attacks/insecure-arithmetic/) page?